<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Amazon Mechnical Turk Interface">
    <meta name="author" content="Jeffrey Hu">

    <title>LabelMeLite</title>

    <!-- Fancytree CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/fancytree/skin-bootstrap/ui.fancytree.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/tool.css" rel="stylesheet">
    
    <link href="stylesheets/amt.css" rel="stylesheet">
    <link href="stylesheets/tool_simple.css" rel="stylesheet">

</head>

<body>

    <div id="topPanel">
        <div id="questionDiv">
            <button onclick="toggleClarification(); " type="button">Instruction</button>
            <span> Please label the following category. </span>
            <input type="submit" id="submitButton" value="Submit (? images left)" disabled onclick="return confirmSubmit()">
        </div>

        <div id="clarificationDiv">
            <dl>
                Refine the prediction below.
                Please only annotate one instance of the category.

                <dt>Controls: </dt>
                    <dd>- Click to select boundary points. </dd>
                    <dd>- Drag to use rectangle tool. </dd>
            </ul>
            
            <p><i><b>Note: </b> These annotations are computer generated. </i></p>
            <p> Fix up the boundary. </p>
        </div>

        <div id="categoryDiv">
            <b>Category: </b><span>None</span>
            <button type="button" id="nextButton" onclick="next();">Next</button>
        </div>
    </div>


    <!-- Canvas -->
    <canvas id="toolCanvas"></canvas>

    <!-- Annotations Table --> 
    <div id="annotationPanel" class="panel panel-default">
        <div id="annotationHeader" class="panel-heading">
          <b>Annotations</b>
        </div>
        <div id="tree" class="panel-body fancytree-fade-expander"></div>
    </div>

    <!-- Fancytree Javascript -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="vendor/fancytree/jquery.fancytree-all.min.js"></script>

    <!-- Custom Javascript -->
    <script type="text/javascript" src="components/numjs/dist/numjs.min.js"></script>
    <script type="text/javascript" src="javascripts/opencv.js"></script>
    <script type="text/javascript" src="components/google-closure-library-compiler/compiled.js"></script>
    <script type="text/javascript" src="components/paper/dist/paper-full.js"></script>
    
    <script type="text/paperscript" src="javascripts/tool/selectTool.js" canvas="toolCanvas"></script>
    <script type="text/paperscript" src="javascripts/tool/brushTool.js" canvas="toolCanvas"></script>
    <script type="text/paperscript" src="javascripts/tool/editTool.js" canvas="toolCanvas"></script>
    <script type="text/paperscript" src="javascripts/tool/newTool.js" canvas="toolCanvas"></script>
    <script type="text/paperscript" src="javascripts/tool/annotations.js" canvas="toolCanvas"></script>
    <script type="text/paperscript" src="javascripts/tool/background.js" canvas="toolCanvas"></script>
    <script type="text/paperscript" src="javascripts/tool/tree.js" canvas="toolCanvas"></script>

    <script type="text/javascript" src="javascripts/tool/tool_utils.js"></script>
    <script type="text/javascript" src="javascripts/tool/intelligent_scissors.js"></script>
    <script type="text/javascript" src="javascripts/tool/intelligent_brush.js"></script>
    <script type="text/javascript" src="javascripts/endpoints.js"></script>

    <script type="text/javascript" src="javascripts/main_amt.js"></script>


</body>

</html>
