.main {
    height:calc(100% - 140px);
    width:calc(100%);
    left:0px;
}

.leftbar {
    width: 0px;
    left: 0;
    border-right: none;
    text-align: center;
}
.rightbar {
    width: 0px;
    right: 0;
    border-left: none;
}

#questionPanel {
    position: absolute;
    z-index: 20;
    height: 70px;
    width: 100%;
    bottom: 0px;
    padding: 10px;

    border-top: 4px solid lightgray;

    font-size: 24px;
    text-align: center;
}

.panel-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.panel-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}