body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#questionDiv {
    width: 1000px;
    height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size:25px;
    font-weight:bold;
}
#submitButton {
  display: inline-block;
}

#clarificationDiv {
  width: 822px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10px;
  text-align: left; 
  display:none;
}

#categoryDiv {
  width: 822px;
  height:30px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  text-align: center;
}

#contentDiv {
  width: 1000px;
  height: 300px;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 13pt;
}