
#toolDiv {
    position: absolute;
    height: 550px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}


#toolCanvas {
    height: calc(100% - 140px);
    width: calc(100%);
    left: 0px;
}
#leftbar {
    width: 0px;
    border-right: none;
}
#rightbar {
    width: 0px;
    border-left: none;
}
#bottombar {
    height: 70px;
}


.btn-slider {
    display: none;
}

.left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}