

#toolDiv {
    position: absolute;
    height: 540px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 202px), -50%);
    z-index: 10;
}
#toolCanvas {
    height: calc(100% - 140px);
    width: calc(100%);
    left: 0px;
    z-index: 30;
    background-image: none;
    background-color: black;
}
#leftbar {
    width: 0px;
    border-right: none;
}
#rightbar {
    width: 0px;
    border-left: none;
}
