body {
    /*padding-top: 50px;
    margin:0;*/
  background-color: black;
}

#work-area {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
}

canvas {
    position: absolute;
    z-index: 1;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    height:100%;
    width:100%;
    background: #222;
    /*background: url(../img/blank-layer-black.png) repeat;*/
}

#cannyCanvas {
    background: #222;
}

#annotationPanel {
    position: absolute;
    z-index: 2;
    top: 10%; left: 80%;
    width: 200px;
    background-color: black;

    /*background-color: transparent;*/
    border-color: transparent;
}

#questionForm {
    position: absolute;
    z-index: 2;
    top: 80%; left: 10%;
    width: 1000px;
    padding: 10px;

    background-color: white;
    border-color: black;
}

.toolbar {
    position: absolute;
    z-index: 2;
    top: 10%; left: 5%;
}