/*
* Button Styles
*/

.toolBtn-slider {
  height:30px;
  width:120px;
  padding-left:0px;
  padding-right:0px;
}
.toolBtn-slider input {
  width:100%;
}
.toolBtn {
  height: 50px;
  width: 50px;

  background: none;
  color:white;
  padding: 0px;
  font-size: 12px;
}
.toolBtn-medium {
  height: 40px;
  width: 40px;
}
.toolBtn-small {
  height: 30px;
  width: 30px;
}
.toolBtn:hover, .active {
  background-color: #4a4a4a;
  color:white;
}
.toolBtn:focus {
  color:white;
  outline:0 !important;
}


hr {
  border-top: 3px solid #ccc;
  width:60%;    
  margin-top: 10px;
  margin-bottom: 10px;
}
.fa, .fi {
  font-size: 24px;
  color:white;
  vertical-align: middle;
}
.fa-small{
  font-size: 14px;
}
.fa-large{
  font-size: 30px;
}
.btn-group-vertical {
  width:100%;
}
.btn-matrix > .btn:nth-child(2n+3) {
  clear: left;
}.btn-matrix > .btn {
  margin: 0;
}