html, body {
    height:100%;
    width:100%;
    margin: 0;
    overflow: hidden
}
canvas {
    position: absolute;
    height:calc(100% - 60px);
    width:calc(100% - 270px);
    z-index: 0;
    left:70px;
    border-top: 6px solid lightgray;

    background: white;
    background-image: url(/images/black_grid.jpg);
    background-size: 300px;
}
table, th, td {
    border: 1px solid black;
    padding: 3px
}
hr {
    border-top: 3px solid #ccc;
    width:60%;    
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.fancytree-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

#questionPanel {
    position: absolute;
    z-index: 2;
    top: 5%; left: 20%;
    width: 60%;
    color: white;
    text-align: center;
}

#helpPanel {
  position: absolute;
  z-index: 2;
  top: 75px;
  left: 80px;
  font-size: 16px;
}

.panel {
    color:white;
    border-color: #414a4c;
    border-width: 4px;
    background: black;
    margin-bottom: 0px;
}

.panel-heading {
    color:white;
    background-color: #414a4c;
}

.panel-body {
  padding: 5px;
}


/*
* Button Styles
*/
#movementButtons {
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn-group-vertical {
  width:60px;
}
.fa, .fi, .glyphicon {
  font-size: 20px;
  color:white;
}
.fa-small{
  font-size: 14px;
}
.btn {
  background: none;
  color:white;
  font-size: 12px;
  padding-left:0px;
  padding-right:0px;
}
.btn:hover, .active {
  background-color: #4a4a4a;
  color:white;
}
.btn:focus {
  color:white;
  outline:0 !important;
}

.btn-square{ 
   height: 50px;
   width: 50px;
}
.btn-small {
   width: 30px;
   height: 30px;
   padding:0px;
}
.btn-slider {
  height:30px;
  width:60px;
  padding-left:0px;
  padding-right:0px;
}

.btn-matrix > .btn:nth-child(2n+3) {
  clear: left;
  margin-left: 0;
}
.btn-matrix > .btn:nth-child(n+3) {
  margin-top: -1px;
}
.btn-matrix > .btn:first-child {
  border-bottom-left-radius: 0;
}
.btn-matrix > .btn:nth-child(2) {
  border-top-right-radius: 4px !important;
}
.btn-matrix > .btn:nth-last-child(2) {
  border-bottom-left-radius: 4px !important;
}
.btn-matrix > .btn:last-child {
  border-top-right-radius: 0;
}