

#yesnoDiv {
  position: absolute;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: table;
  text-align: center;
  font-size: 13pt;
}

.holderDiv {
  text-align: center;
}
.holderDiv canvas {
  background: black;
  outline: solid lightgray;
}

.target{
  color: #0D0;
}
.target canvas{
  outline: 3px solid #0D0;
}
.target p:first-child{
  display: none;
}
.target p:nth-child(2){
  display: inline;
}
.target b{
  position: absolute;
  transform: translate(25%, 30%);
}
.noise{
  color: #F00;
}
.noise canvas{
  outline: 3px solid #F00;
}
.noise p:first-child{
  display: inline;
}
.noise p:nth-child(2){
  display: none;
}
.noise b{
  position: absolute;
  transform: translate(50%, 30%);
}

.focus { 
  display: table-cell;
    vertical-align: middle; 
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
  width: 800px; height: 100%;
} 
.focus0{ 
  display: table-cell;
    vertical-align: middle; 
    padding: 10px;   
  width: 500px; height: 100%;
} 
.focus1{ 
  display: table-cell;
    vertical-align: middle; 
    padding: 10px;   
  width: 150px; height: 100%;
}
.focus2{ 
  display: table-cell;
    vertical-align: middle; 
    padding: 8px;   
  width: 50px;  height: 100%; 
} 
.focus3{ 
  display: table-cell;
    vertical-align: middle; 
    padding: 4px;   
  width: 25px;  height: 100%; 
} 

.focus canvas{
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;   
  outline-width: 12px;
}
.focus0 canvas{
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  outline-width: 7px; 
}
.focus1 canvas{ 
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  outline-width: 5px; 
}
.focus2 canvas{
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  outline-width: 4px; 
} 
.focus3 canvas{ 
  max-width: 21px;
  max-height: 21px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  outline-width: 2px; 
} 

.focus p{ 
  display: none;
  font-weight: bolder; font-size: 34pt; 
}
.focus0 p{ 
  display: none;
  font-weight: bolder; font-size: 28pt; 
}
.focus1 p{ 
  display: none;
  font-weight: normal; font-size: 16pt; 
}
.focus2 p{ 
  display: none;    
  font-weight: normal; font-size: 9pt; 
}
.focus3 p{ 
  display: none;  
  font-weight: normal; font-size: 6pt; 
}

.focus b {
  visibility: hidden;
  color: #00F; font-size: 18pt;
}
.focus0 b {
  visibility: hidden;
  color: #00F; font-size: 14pt;
}
.focus1 b {
  visibility: hidden;
  color: #00F; font-size: 10pt;
}