

#questionDiv {
    padding-top: 50px;
    text-align: center;
    font-size: 30px;

    font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#definitionDiv {
  padding-top: 10px;
  font-size: 18px;
  width: 800px;
  margin:0 auto;
}

#instructionDiv {
  padding-top: 30px;
  margin: auto;
  width: 1000px;

  text-align: left; 
  display: none;
}