html, body {
    height: 100%;
    width: 100%;
}

#toolCanvas {
    position: absolute;
    height:calc(100% - 70px);
    width:calc(100% - 280px);
    left:80px;
    z-index: 0;

    border: none;
    border-top: 6px solid lightgray;
    background-image: url(/images/black_grid.jpg);
    background-size: 300px;
}
#leftbar {
    width: 80px;
    left: 0;

    border-top: 6px solid lightgray;
    border-right: 6px solid lightgray;
}
#rightbar {
    width: 200px;
    right: 0;

    border-top: 6px solid lightgray;
    border-left: 6px solid lightgray;
    text-align: left;
}
#bottombar {
    height: 50px;
    width: 100%;
    bottom: 0;

    border-top: 6px solid lightgray;
    background: black;
    font-size: 24px;
    padding: 10px;
}


.navbar {
    height: 70px;

    background-color: #2e2e2e;
    border-bottom: 7px solid yellow;
}
.navbar-brand {
    color: white;
    font-size: 36px;
    font-weight: lighter;
}
.navbar-brand:hover {
    color: gray;
}
.navbar-text{
    color: white;
    font-size: 14px;
    margin-left: 10px;
}
.sidebar {
    position: absolute;
    height: calc(100% - 70px);
    width: 50px;
    z-index: 1;

    color: white;
    background-color: #6b6b6b;
    overflow-y: scroll;
    text-align: center;
}

/* For annotation*/
ul.fancytree-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.panel-heading {    
    padding: 10px 15px;
    background-color: #2e2e2e;
}
.panel-title {
    font-size: 20px;
    margin: 0;
}
.panel-body {
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
    padding: 3px
}
