.navbar {
    display: flex;
    align-items: center;
    z-index: 10;
    height: 60px;

    color:white;
    background-color: #2e2e2e;
    border-bottom: 10px solid yellow;
    margin-bottom: 0px;
}
.navbar-brand {
    color: white;
    font-size: 30px;
    font-weight: lighter;
}
.navbar-brand:hover {
    color: gray;
}

#navButtons {
    margin-left: auto;
}

.sidebar {
    position: absolute;
    overflow-y: scroll;
    height: calc(100% - 60px);;
    z-index: 1;
    background-color: #6b6b6b;
    border-top: 6px solid lightgray;
}
.leftbar {
    width: 70px;
    left: 0;
    border-right: 6px solid lightgray;
    text-align: center;
}

.rightbar {
    width: 200px;
    right: 0;
    border-left: 6px solid lightgray;
}
