
canvas {
    position:absolute;
    z-index:1;
    top:150px;
    left:150px;
    height:550px;
    width:900px;
    background: #696969;
    image-rendering: pixelated;
}

#annotationPanel {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 1100px;
    height: 500px;
    width: 200px;
    background-color: black;
    border-color: transparent;
}